@import 'tailwindcss';

* {
  font-family: 'Inter', sans-serif;
  color: white;
}

body {
  background-color: #1a0b2e;
}

button {
  cursor: pointer;
}

.grad-btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 12px 16px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 50px;
}

i {
  background-color: transparent;
}

.hero {
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#microphone {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 50%;
  border: 8px solid rgba(42, 23, 108, 1);
}

#subscribe-btn {
  color: rgba(0, 255, 136, 1);
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 50px;
  padding: 12px 20px;
}

#subscribe-btn > i {
  color: rgba(0, 255, 136, 1);
}

#new-badge {
  color: black;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: bold;
}

.numbers h2,
.numbers i {
  color: rgba(0, 255, 136, 1);
}

.grid-section {
  background-color: #230e3d;
  min-height: 800px;
}

.card {
  background-color: #2a0f4d;
  border-radius: 40px;
  padding: 40px;
}

.card h4,
.video-card h4 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 16px;
}

.card p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}

#minute,
#minute i {
  color: rgba(0, 255, 136, 1);
}

.video-card {
  border-radius: 24px;
  background-color: #2a0f4d;
}

.host-card {
  border-radius: 40px;
  background-color: #2a0f4d;
}
